@page
@model OjtPortal.Pages.ChangeDefaultPassword
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Change Default Password";
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<style>
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;
        margin: 0;
    }

    .form-container {
        width: 400px;
        padding: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background-color: #f8f9fa;
        margin-bottom: 40px;
    }

    .btn-custom {
        background-color: #ff6b6b;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-custom:hover {
        background-color: #ff4f4f;
    }

    .form-label {
        text-align: left;
    }

    .button-container {
        text-align: center; 
    }

</style>

<h3>@ViewData["Title"]</h3>


<div class="form-container">
    <form method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Token" />

        <div class="form-group">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" class="form-control" type="password" />
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" type="password" />
        </div>

        <div class="button-container">
            <button type="submit" class="btn btn-custom">Change Password</button>
        </div>
    </form>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert" id="error-message" style="text-align: center;">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <script>
        setTimeout(function () {
            var errorMessage = document.getElementById('error-message');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }, 3000);
    </script>
}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
