@page
@{
    ViewData["Title"] = "Password Change Response";
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
    }
</style>

<h3>@ViewData["Title"]</h3>

@if (TempData["Message"] != null)
{
    <p>@TempData["Message"]</p>
}
else
{
    <p>Your password has been successfully changed. You can now login with your new password.</p>
}
